@import "tailwindcss";


.no-scrollbar {
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE & Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;                /* Chrome, Safari */
}
